.movie-details {
  margin: 10em 3em 0em 3em;
  section:first-child {
    h1 {
      font-size: 3em;
    }
  }
  section:nth-child(2) {
    margin-top: 1.5em;
  }
  section:nth-child(3) {
    font-size: 1.5em;
    margin-top: 3em;
  }
}

a {
  text-decoration: none;
}

.submit-rating-form {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 1em;
  width: 30%;
  justify-content: space-between;
  button {
    @include buttonStyle;
  }
  select {
    padding: 0;
    border-radius: 4px;
    border: 0;
    border-bottom: 1px solid $light-gray;
    padding: 5px 10px;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
  }
  label {
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
  }
}

.movie-details-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.movie-details-error {
  margin: 10em 3em 0em 3em;
  h1 {
    text-align: center;
    font-size: 3em;
  }
}

.movie-images {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-top: 7em;
  img:first-child {
    width: 20em;
    margin: .5em 0em;
  }
  img:nth-child(2) {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 6em;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.15;
  }
}
