.movie-details {
  margin: 10em 3em 0em 3em;
  section:first-child {
    h1 {
      font-size: 3em;
    }
  }
  section:nth-child(2) {
    margin-top: 1.5em;
  }
  section:nth-child(3) {
    font-size: 1.5em;
    margin-top: 3em;
  }
}

a {
  text-decoration: none;
}

.movie-details-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.movie-images {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-top: 7em;
  img:first-child {
    width: 20em;
    margin: .5em 0em;
  }
  img:nth-child(2) {
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 6em;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.15;
  }
}
