.movie-details-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 55em;
  background-position: center;
  background-size: cover;
  opacity: .6;
}

.img-background {
  width: 60em;
  opacity: .25;
}

.img-poster {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 20em;
  }
}

.movie-details {

}
