*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
}

main {
  height:100%;
  width:100%;

  header {
    background-color: #fff;
    position: sticky;
    top: 0px;
    z-index: 9999;
  }

  .margin-wrap {
    margin:0 auto;
    max-width:1500px;
    width:100%;
  }
}

@media screen and (max-width:600px) {
  .movie-details-card {

    .movie-images {
      margin-top:0px !important;
    }
  }
}
