.movie-card {
  height: 14em;
  margin-bottom:20px;
  overflow: hidden;
  padding: 0;
  width: 27em;
  img {
    height: 14em;
    margin: 0;
    object-fit: cover;
    position: absolute;
    width: 27em;
  }
  h1 {
    color: $dark-green;
    font-size: 1.5em;
  }
  h2 {
    color: $orange;
    font-size: 1em;
  }
  &:hover {
    @include dropShadow;
    cursor: pointer;
  }
  &:hover .movie-info-container {
    bottom: -8em;
    height: 6em;
  }
}

.movie-info-container {
  background: rgba(255, 255, 255, 0.85);
  bottom: -14em;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 3%;
  position: relative;
  transition: .5s ease;
  width: 27em;
}
