.movie-card {
  height: 12em;
  margin: 2em auto;
  overflow: hidden;
  padding: 0;
  width: 20em;
  img {
    height: 12em;
    margin: 0;
    object-fit: cover;
    position: absolute;
    width: 20em;
  }
  h1 {
    color: $dark-green;
    font-size: 1.5em;
  }
  h2 {
    color: $orange;
    font-size: 1em;
  }
  &:hover {
    @include dropShadow;
    cursor: pointer;
  }
  &:hover .movie-info-container {
    bottom: -7em;
    height: 6em;
  }
}

.movie-info-container {
  background: rgba(255, 255, 255, 0.85);
  bottom: -12em;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 3%;
  position: relative;
  transition: .5s ease;
  width: 20em;
}
