.movie-card {
  height: 12em;
  width: 20em;
  margin: 2em auto;
  overflow: hidden;
  padding: 0;
  img {
    object-fit: cover;
    height: 12em;
    width: 20em;
    margin: 0;
    position: absolute;
  }
  h1 {
    font-size: 1.5em;
    color: $dark-green;
  }
  h2 {
    font-size: 1em;
    color: $orange;
  }
  &:hover {
    @include dropShadow;
    cursor: pointer;
  }
  &:hover .movie-info-container {
    height: 4em;
    bottom: -8em;
  }
}

.movie-info-container {
  background: rgba(255, 255, 255, 0.85);
  width: 20em;
  margin: 0;
  bottom: -12em;
  position: relative;
  overflow: hidden;
  height: 0;
  transition: .5s ease;
  padding: 3%;
}
