.login-container {
  align-items: center;
  display: flex;
  height:100vh;
  justify-content: center;
  margin-top:-100px;

  form {
    @include dropShadow;
    display: flex;
    flex-direction:column;
    flex-flow:wrap;
    max-width:350px;
    justify-content:center;
    padding:30px 50px;
    text-align: center;
    width:100%;

    h1{
      margin-bottom:20px;
    }

    span  {
      color:$orange;
      font-size:14px;
      margin-bottom:5px;
      padding:5px 10px;
    }

    label {
      display:none;
    }

    input {
      border:0;
      border-bottom:1px solid $light-gray;
      font-size:1.025rem;
      margin-bottom:20px;
      padding:5px 10px;
      text-align:center;
    }

    button {
      @include buttonStyle;
      align-self:center;
      margin-top:20px;
    }
  }
}
