header {
  padding:10px 20px;
  width:100%;
  @include dropShadow;

  .margin-wrap {
    align-items: center;
    display: flex;
    flex-flow:wrap;
    justify-content: space-between;

    .logo {
      width:250px;
      a, img {
        width:100%;
      }
    }

    .login-wrap {
      span {
        margin-right:20px;
      }
      .login-button {
        @include buttonStyle;
      }
    }
  }
}
