header {
  width:100%;
  padding:10px 20px;
  @include dropShadow;

  .margin-wrap {
    display: flex;
    flex-flow:wrap;
    justify-content: space-between;
    align-items: center;

    .logo {
      width:250px;
      a, img {
        width:100%;
      }
    }

    .login-button {
      @include buttonStyle;
    }
  }

}
